
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="historyheader">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>User Dashborad</b></h1></div>
</div> 
<div class="dashbord-container">
    <h1>Total Cycle Completed</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="progress-title">OPEN Cycle</h3>
            <br/>
            <div class="progress pink">
                <div class="progress-bar" style="width:{{myopenStatus}}%; background:#ff4b7d;">
                    <div class="progress-value">{{openStatus}}</div>
                </div>
            </div>
 
            <h3 class="progress-title">CLOSE Cycle</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{myclosedStatus}}%; background:#5fad56;">
                    <div class="progress-value">{{closedStatus}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
  <hr class="style3">
<h1 style="text-align:center;color:red">Status Count</h1>
<div class="container">
   <div class="row">
       <div class="col-sm-6">
           <button class="dashboard-button">Material Request</button>
       </div>
        <div class="col-sm-6">
           <button class="dashboard-button">Delivery Order</button>
       </div>
   </div>
</div>

</div>