
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<script> 
$(document).ready(function(){
    
        $("h1").animate({left: '250px'});
   
});
</script> 
<div class="home-container">
   {{!-- <h1 style="text-shadow: 5px 5px #7E7E7E;text-align:center;font-family: Comic Sans MS"> <b style="font-size:70px"> Supply Chain Management</b></h1> --}}
   <br>
   <br>
   <br>
   <div align="center"> <img src="assets/images/p2.svg" alt="Smiley face" height="300" width="800"></div>
 </div>   














