
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<script> 
$(document).ready(function(){
    
        $("h1").animate({left: '250px'});
   
});
</script> 
<div class="home-container">
    <h1 style="text-shadow: 2px 2px #7E7E7E;text-align:center;"> <b style="font-size:70px">  Supply Chain Management</b></h1>
    <img src="assets/images/cube.png" alt="Smiley face" width="100" height="80">
 </div>   














