
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<script> 
$(document).ready(function(){
    
        $("h1").animate({left: '250px'});
   
});
</script> 

<div class="container">
    <div class="col-md-12">
        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
                <div class="item active">
                  <div class="col-lg-12">
        
                  <a href="#"><img src="assets/images/smob12.jpg" class="img-responsive">1</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-12">
                  <a href="#"><img src="assets/images/smob41.png" class="img-responsive">2</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-12">
                  <a href="#"><img src="assets/images/supplychain.png" class="img-responsive">3</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-12">
                  <a href="#"><img src="assets/images/jug.png" class="img-responsive">4</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-12">
                  <a href="#"><img src="assets/images/smob4.png" class="img-responsive">5</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-12">
                  <a href="#"><img src="assets/images/doll.png" class="img-responsive">6</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-36">
                  <a href="#"><img src="assets/images/smob51.png" class="img-responsive">7</a></div>
                </div>
                <div class="item">
                  <div class="col-lg-12">
                  <a href="#"><img src="assets/images/smob1.jpg" class="img-responsive">8</a></div>
                </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
</div>















